<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right" style="margin-top:10px;">
                <div class="col-md-10 col-md-offset-1 pull-right">
                    <img class="img-error" src="./assets/imagens/waiting.jpg">
                    <h2>Processando...</h2>
                    <p>Seu pagamento está sendo processado. Aguarde pacientemente, logo receberá notícias nossas.</p>
                    <div class="error-actions">
                        <a href="#" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-arrow-left"></span>
                            Voltar Para P&aacute;gina Inicial 
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>