<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container" id="main-container">
    <div class="row">
        <!-- Product-->
        <div *ngFor="let celular of celulares" class="col-lg-4 col-sm-6 mb-30">
            <div class="product-card mx-auto mb-3">
                <!-- Other options 
                <div class="product-head"><span class="badge badge-secondary">Out of Stock</span></div>
                <div class="product-head d-flex justify-content-between align-items-center"><span class="badge badge-success">Popular</span> -->
                <div class="product-head d-flex justify-content-between align-items-center"><span
                        class="badge badge-danger">Promo&ccedil;&atilde;o</span>
                    <div class="rating-stars"><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i
                            class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star"></i>
                    </div>
                </div>
                <a class="product-thumb" href="#"><img src="{{celular?.caminhoImagem}}"  width="100px" height="280px" alt="{{celular?.modelo}}"></a>
                <div class="product-card-body"><a class="product-meta" href="#">Smart Phone</a>
                    <h5 class="product-title"><a href="#">{{celular?.marca}} - {{celular?.modelo}}</a></h5><span
                        class="product-price">
                        <!--<del>$62.00</del> -->R$ {{celular?.valor}},00
                    </span>
                </div>
                <div class="product-buttons-wrap">
                    <div class="product-buttons">
                        <div class="product-button"><a href="#"><i class="fa fa-heart"></i></a></div>
                        <div class="product-button"><a href="#"><i class="fa fa-repeat"></i></a></div>
                        <div class="product-button"><a (click)="onOpenModal(celular)"><i
                                    class="fa fa-shopping-cart"></i></a></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="modal fade" id="modalBuyConfirmation" tabindex="1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Confirmando Compra</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="confirmation-text">
                Confirma a compra do produto?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="onBuyProduct()">Comprar</button>
            </div>
        </div>
    </div>
</div>