<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="row">
    <div *ngFor="let celular of celulares" class="col-md-3">
        <div class="ibox">
            <div class="ibox-content product-box">
                <div class="product-imitation">
                    <img src="{{celular?.caminhoImagem}}"  width="150px" height="210px">
                </div>
                <div class="product-desc">
                    <span class="product-price">
                        R$ {{celular?.valor}},00
                    </span>
                    <small class="text-muted">{{celular?.marca}}</small>
                    <a href="#" class="product-name"> {{celular?.modelo}}</a>

                    <div class="small m-t-xs">
                        Pre&ccedil;o promocional para loja Mercado Pago
                    </div>
                    <div class="m-t text-righ">
                        <link href="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js" rel="text/javascript">
                       <a href="javascript:mp.checkout();" class="btn btn-xs btn-outline btn-primary">Comprar <i class="fa fa-long-arrow-right"></i> </a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
</div>